<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="coupling1"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link
    name="link_coupling1">
    <inertial>
      <origin
        xyz="1.77823331599424E-05 -1.77823331599619E-05 -0.0089016237884829"
        rpy="0 0 0" />
      <mass
        value="0.0748232729606399" />
      <inertia
        ixx="3.39450510121467E-05"
        ixy="4.13727922672199E-08"
        ixz="-8.51756765772707E-09"
        iyy="3.39450510121467E-05"
        iyz="8.51756765772627E-09"
        izz="5.88806034471799E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://system_urdf/meshes/roller_probe_pieces/coupling1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://system_urdf/meshes/roller_probe_pieces/coupling1.STL" />
      </geometry>
    </collision>
  </link>
</robot>