<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="extender">

  <link
    name="link_extender">
    <inertial>
      <origin
        xyz="-5.17709074753684E-17 2.39346204362228E-17 0.023707057889378"
        rpy="0 0 0" />
      <mass
        value="0.0901411341968167" />
      <inertia
        ixx="3.21898550179311E-05"
        ixy="2.53970297447911E-21"
        ixz="3.5531232175751E-20"
        iyy="3.21898550179311E-05"
        iyz="-1.94420820770643E-20"
        izz="2.82781083124868E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://system_urdf/meshes/roller_probe_pieces/extender.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://system_urdf/meshes/roller_probe_pieces/extender.STL" />
      </geometry>
    </collision>
  </link>
</robot>
