<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ft_sensor"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link
    name="link_ft_sensor">
    <inertial>
      <origin
        xyz="-0.00152921654106877 0.00302047148579856 -0.0158969383860535"
        rpy="0 0 0" />
      <mass
        value="0.00405727824464069" />
      <inertia
        ixx="2.11438887462202E-06"
        ixy="1.86490444186628E-07"
        ixz="4.91600397505994E-09"
        iyy="1.82605884169168E-06"
        iyz="-2.43792170617711E-08"
        izz="3.23118515297441E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://system_urdf/meshes/roller_probe_pieces/ft_sensor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://system_urdf/meshes/roller_probe_pieces/ft_sensor.STL" />
      </geometry>
    </collision>
  </link>
</robot>