<?xml version="1.0"?>
<robot name="KR10_inspector" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ===================================================================================== -->
    <!--      Import variables for calculating TCP location based on number of focal laws      -->
    <!-- ===================================================================================== -->

    <!-- Load the entire YAML file once -->
    <xacro:property name="params" value="${xacro.load_yaml('$(find peak_ros)/config/beccas.yaml')}"/>
    
    <!-- Access nested properties from the loaded YAML -->
    <xacro:property name="n_focals" value="${params['boundary_conditions']['n_focals']}"/>
    <xacro:property name="element_pitch" value="${params['boundary_conditions']['element_pitch']}"/>

    <!-- ======================================================================================= -->
    <!--                                Import the urdfs                                         -->
    <!-- ======================================================================================= -->

    <!-- Import the kr10 xacro model -->
    <xacro:include filename="kr10_r1100_2_urdf.urdf.xacro" />
    
    <!-- Import the ut horizontal end effector xacro model -->
    <xacro:include filename="$(find probe_mount2)/urdf/probe_mount2.urdf.xacro"/>

    <!-- Import the first coupling plate xacro -->
    <!-- <xacro:include filename="$(find coupling1_urdf)/urdf/coupling1.urdf.xacro"/> -->

    <!-- Import the ft sensor xacro -->
    <!-- <xacro:include filename="$(find ft_sensor_urdf)/urdf/ft_sensor.urdf.xacro"/> -->
    
    <!-- Import the second coupling plate xacro -->
    <!-- <xacro:include filename="$(find coupling2_urdf)/urdf/coupling2.urdf.xacro"/> -->

    <!-- Import the third coupling plate xacro -->
    <!-- <xacro:include filename="$(find ee_urdf)/urdf/coupling3.urdf.xacro"/> -->

    <!-- ====================================================================================== -->
                               <!-- Add the tool center point  -->
    <!-- ====================================================================================== -->

    <link name="tool_center_point">
      <visual>
        <geometry>
          <sphere radius="0.005"/>
        </geometry>
        <material name=""/>
          <color rgba="0.0196078431372549 0.0196078431372549 0.0196078431372549 1" />
      </visual>

      <inertial>
        <mass value="0.001"/>
        <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
      </inertial>
      
      <collision>
        <geometry>
          <sphere radius="0.005"/>
        </geometry>
      </collision>
    </link>
    
    <!-- connect the pieces -->

    <!-- ========================================================================================= -->
    <!--                                Beginning of 7.14 Configuration                            -->
    <!-- ========================================================================================= -->

    <!-- kr10 to first coupling plate connection--> 
<!--     <joint name="kr10_coupling1_joint" type="fixed">
        <parent link="link_6"/>
        <child link="link_coupling1"/>
        <origin xyz="0 0 .02" rpy="${-pi/2} 0 0"/>
    </joint>  -->

    <!-- kr10 to end_effector connection--> 
<!--     <joint name="coupling1_coupling2" type="fixed">
        <parent link="link_coupling1"/>
        <child link="link_coupling2"/>
        <origin xyz="0 0.005 0" rpy="0 0 0"/>
    </joint>  -->

    <!-- kr10 to end_effector connection--> 
<!--     <joint name="coupling2_ft_joint" type="fixed">
        <parent link="link_coupling2"/>
        <child link="ft_sensor"/>
        <origin xyz="0 0 0" rpy="${-pi} 0 0"/>
    </joint>  -->

    <!-- plate 3 to end_effector connection--> 
<!--     <joint name="kr10_endeffector_joint" type="fixed">
        <parent link="ft_sensor"/>
        <child link="link_ee"/>
        <origin xyz="0 0.0435 0" rpy="${pi} 0 0"/>
    </joint>  -->

    <!-- kr10 to end_effector connection--> 
<!--     <joint name="endeffector_utprobe_joint" type="fixed">
        <parent link="link_ee"/>
        <child link="probe_mount"/>
        <origin xyz="0 0 0" rpy="${-pi/2} ${-pi/2} 0"/>
    </joint>  -->

    <!-- ========================================================================================= -->
    <!--                                   End of 7.14 Configuration                               -->
    <!-- ========================================================================================= -->

    <!-- ========================================================================================= -->
    <!--                                  Beginning of RC Configuration                            -->
    <!-- ========================================================================================= -->

<!-- kr10 to Probe mount -->

    <joint name="link_6_ut_probe_joint" type="fixed">
      <parent link="link_6"/>
      <child link="probe_mount"/>
      <origin xyz="0 0 0" rpy="${pi} 0 0"/>
    </joint>

    <!-- ========================================================================================= -->
    <!--                                       Same for Both                                       -->
    <!-- ========================================================================================= -->

    <!-- end_effector to TCP for whole system -->
<!--     <joint name="tool_center_joint" type="fixed">
      <parent link="probe_mount"/>
      <child link="tool_center_point"/>
      <origin xyz="0.0125 ${-(n_focals * element_pitch / (2 * 1000)) + (64 * element_pitch / (2 *1000))} -0.245" rpy="${pi} 0 ${pi/2}"/>
    </joint>
 -->
    <!-- end_effector to TCP -->
    <joint name="tool_center_joint" type="fixed">
      <parent link="probe_mount"/>
      <child link="tool_center_point"/>
      <origin xyz="0.0125 ${-(n_focals * element_pitch / (2 * 1000)) + (64 * element_pitch / (2 *1000))} -0.245" rpy="${pi} 0 ${pi/2}"/>
    </joint>

</robot>